//font-family: 'Dancing Script', cursive;
//font-family: 'Lato', sans-serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Roboto', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  min-width: 0;
  min-height: 0;
}

html {
  font-size: 65.5%; //1rem = 10px>>>10/16 = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px>>>9/16=
  }

  @include respond(bg-phone) {
    font-size: 50%; //1rem = 9px>>>9/16=
  }

  @include respond(phone) {
    font-size: 46.5%;
  }

}

body {
  font-family: $font-family-main;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
  box-sizing: border-box;
  //padding: 0 3rem 3rem 3rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-rows: min-content min-content repeat(4, min-content);
  grid-template-columns: [start-full] minmax(6rem, 10rem) [start-center] repeat(8, [start-col] minmax(min-content, 20rem) [end-col])
  [end-center] minmax(6rem, 10rem)[end-full];

   @include respond(tab-port) {
    grid-template-columns: [start-center] repeat(8, [start-col] minmax(min-content, 1fr) [end-col])[end-center];
     //grid-template-rows: 6rem calc(100vh - 6rem);
   }

  //@include respond(tab-port) {
  //  grid-template-rows: min-content 50vh repeat(4, min-content);
  // }
}

.sub-container {
  padding: 0 8rem;

  @include respond(tab-port) {
    padding: 0;
  }
}


::selection {
  background-color: #fff;
  color: #000;
}

////////////////////////////
////////HELPER class////////
////////////////////////////
.margin-top {
  margin-top: 2.5rem;
}
.margin-bottom {
  margin-bottom: 2rem;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #e9a0a0;
    color: #eee;
    font-size: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  h1 {
    padding: 2rem 2rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 900px) {
    font-size: 1.6rem;
  }
}

.noShow {
    display: none;
}

button {
  border: none;
  background-color: transparent;
}