.btn {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: $font-family-complex;
  text-decoration: none;
  background-color: $color-gray-light-3;
  color: $color-main-dark;
  border-radius: 10rem;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  padding: 1.2rem 3rem;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  transition: all .2s ease-in-out;

  &::after {
    content: "";
    background-color: $color-gray-light-3;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ease-in-out;
  }

  &:hover::after {
    opacity: 0;
    transform: scale(1.5);
  }

  &:hover {
    transform: translateY(-3px);
  }

  //}
}